/**{
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
}*/
.newsletterPage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}

.newsletterHeader{
  padding-bottom: .42em;
  border-bottom: solid black;
}

.logoNavBar{
  float:left;
  height: 2.5em;
  display:flow-root;
}



nav{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: .5em;
  text-decoration: underline;

  }


  .mainNavigationBar{
  text-transform: uppercase;
  background-color: white;

}

.mainNavigationBar a{
  color: black;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-right: 1em;

}

.mainNavigationBar a:hover{
  color: brown;
  text-decoration: underline;
}

.newsletterBackground{
  background-image: url('images/background-2.jpg');
  background-size: cover;
  height: 100vh;
}

.newsletterSignUp{
  align-self: center;
  padding: 2em;
  background-color: white;
  width: 60%;
  margin: 5em 10em 5em 10em;

}

.newsletterFooter{
  text-align: left;
  color: white;
  background-color: darkgreen;
  width: 100%;
}
