/**{
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
}*/
/*.newsletterPage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}*/

/**{
  margin: 0

  fixes the width of the page, but doesn't make the header scroll.
}*/

body{
  margin: 0;
  background-color: #F2F1E8;
  color: #131511;
}

a{
  color: #968772;
}

header{
  width: 100%;
  position:fixed;
  /*overflow: scroll;*/
  height: 3em;
  background: white;
  padding-top: 1em;
  top:0;
  margin: 0;

}

h1{
  font-family: 'Merriweather', serif;
  font-size: 4em;
  font-weight: 500;
  line-height: .5em;
}

h2{
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: 300;
  line-height: .5em;
}

.pageHeading{
  padding-top: 6em;
  text-align: center;
}

.logoNavBar{
  float:left;
  height: 2.8em;
  display:flow-root;
}



nav{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: .5em;
  text-decoration: underline;
  }

.mainNavigationBar{
  text-transform: uppercase;

}

.mainNavigationBar a{
  color: #2B2F26;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  margin-right: 1em;

}

.mainNavigationBar a:hover{
  color: #CD5D67;
  text-decoration: underline;
}

.mainNavigationBar a:active{
  color: #968772;
  text-decoration: underline;
}

.newsletterBackground{
  display: flex;
  background-image: url('images/background-2.jpg');
  background-size: cover;
  background-origin: content-box;
  height: 100vh;
}

.newsletterBackground h1{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.1em;

}

.newsletterBackground, h3{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1em;

}

.newsletterSignUp{
  text-align: center;
  align-items: center;
  align-self: center;
  padding: 2em;
  background-color: white;
  margin: 5em 10em 5em 10em;
  width: 75%;
}

button{
  background-color: #968772;
  color: #F2F1E8;
  font-size: 1.1em;
  padding: .5em 1em;
}

button hover{
  background-color: #967343;
  color: #FFFFFF;
}

#userName{
  border: none;
  color: gray;
  font-size: 1.1em;
  width: 100%;
  padding-top: 2em;
  border-bottom: 2px solid #968772;
  margin-bottom: 1em;

}

#userEmail{
  border: none;
  color: gray;
  width: 100%;
  font-size: 1.1em;
  padding-top:2em;
  border-bottom: 2px solid #968772;
  margin-bottom: 1.2em;

}

#userName hover{
  border-bottom: 2px solid #967343;
}

#userEmail hover{
  border-bottom: 2px solid #967343;

}

/*Images Container for index.html and image scaling*/
h4{
  font-family: 'Merriweather', serif;
  background-color: #2B2F26;
  font-weight: 300;
  padding: 1em 1em;
  color: white;
  margin-right:auto;
  margin-left:0;
}
.wrapper {
  max-width: 100%;
  display:flex;
  margin: 3em 2em;
}

.wrapper > div {
  display:flex;
  flex-direction: column-reverse;
  border: 2px solid white;
  background-color: white;
}


/*gridwrapper */
.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(22em, auto);
}
.one {
  grid-column: 1/3;
  grid-row: 1;
  background-image:url(images/product-1.jpg);
  background-size: cover;
  background-position: center;
}
.two {
  grid-column: 3;
  grid-row: 1;
  background-image:url(images/product-2.jpg);
  background-size: cover;
  background-position: center;
}
.three {
  grid-column: 4;
  grid-row: 1;
  background-image:url(images/product-3.jpg);
  background-size: cover;
  background-position: center;
}
.four {
  background-image:url(images/product-4.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1;
  grid-row: 2;
}
.five {
  background-image:url(images/product-5.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 2;
  grid-row: 2;
}
.six {
  background-image:url(images/product-6.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3;
  grid-row: 2;
}

.seven{
  background-image:url(images/product-7.jpg);
  background-size: cover;
  overflow: visible;
  grid-column: 4;
  grid-row: 2;
}
/*END OF GRID*/

footer{
  font-family: 'Merriweather', serif;
  text-align: left;
  color: white;
  background-color: #2B2F26;
  width: 100%;
  padding: 2em;
}
